POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_db
POSTGRES_PORT=5433
DATABASE_URL=postgres://your_user:your_password@db:5432/your_db?sslmode=disable
JWT_SECRET=your_jwt_secret
API_URL=http://localhost:8080
